/*! =========================================== all variable ===========================================*/
:root {
  --pink: #dc3545;
  --white: #fff;
  --black: #000;
  --gery: #f8f9fa;
  --transition: 0.5s all;
}
/** ===========================================css reset code =========================================== */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: "Montserrat", sans-serif;
}
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Nunito', sans-serif; */

/*?=========================================== css repeated code initialize  ===========================================*/
.text-brand {
  color: var(--pink);
}
.btn {
  border-radius: 0;
}
.form-control:focus {
  box-shadow: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}
p {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: 27px;
  font-weight: 500;
}

.pt-90 {
  padding-top: 80px;
}
.pb-90 {
  padding-bottom: 80px;
}
.p-90 {
  padding: 80px 0;
}
.pb-50 {
  padding-bottom: 40px;
}
.social-icon ul li a {
  height: 42px;
  width: 42px;
  background-color: transparent;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  border: 2px solid var(--pink);
  color: var(--pink);
  font-size: 20px;
  transition: var(--transition);
}
.social-icon ul li a:hover {
  background-color: var(--pink);
  color: var(--gery);
  transition: var(--transition);
  transform: rotate(360deg);
}

.section-capiton h2 {
  font-weight: bold;
  color: var(--black);
  text-transform: capitalize;
}
.section-capiton p {
  font-size: 18px;
  columns: var(--black);
}

.img-thumbnail {
  padding: 0.25rem;
  background-color: var(--bs-body-bg);
  border: var(--bs-border-width) solid var(--pink);
  border-radius: var(--bs-border-radius);
  max-width: 100%;
  height: auto;
}
/** ===========================================navbar/header =========================================== */
.navbar {
  padding: 20px 0;
}
.navbar .navbar-brand {
  font-weight: bold;
  color: var(--white);
  font-size: 24px;
}
.navbar-nav .nav-item {
  margin: 0 10px;
}
.navbar-nav .nav-item .nav-link {
  font-size: 16px;
  color: var(--white);
  text-transform: capitalize;
  letter-spacing: 0.5px;
  font-weight: 500;
  transition: var(--transition);
}
.navbar-nav .nav-item .nav-link.active {
  color: var(--pink);
  transition: var(--transition);
}
.navbar-nav .nav-item .nav-link:hover {
  color: var(--pink);
  transition: var(--transition);
}
/*TODO  STICKY NAVBAR*/
.navbg {
  transition: var(--transition);
}
.navbar.navbg {
  background-color: var(--gery);
  transition: var(--transition);
  padding: 10px 0;
  box-shadow: 0 0.125rem 0.25rem rgba(var(--bs-body-color-rgb), 0.075) !important;
}

/* !navbar-brand */
.navbar.navbg .navbar-brand {
  color: var(--black);
}
/* !navbar-nav nav-link */
.navbar.navbg .nav-link {
  color: var(--black);
  transition: var(--transition);
}

/** ===========================================banner =========================================== */
.banner {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: 1;
  color: var(--white);
}
.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: var(--black);
  opacity: 0.7;
  z-index: -1;
}
.banner-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
.banner-text {
  max-width: 700px;
  margin: 0 auto;
}
.banner-text h4 {
  font-weight: 600;
  font-size: 22px;
}
.banner-text h1 {
  font-weight: bold;
}

/** ===========================================skill bar =========================================== */
.progress-bar {
  background-color: var(--pink);
  border-radius: 20px;
  height: 13px;
}

/** ===========================================services=========================================== */
.services {
  background-color: var(--gery);
}
.single-services {
  padding: 20px 20px;
  transition: var(--transition);
}
.single-services i {
  font-size: 25px;
  background-color: var(--pink);
  height: 60px;
  width: 60px;
  border-radius: 50%;
  line-height: 60px;
  margin: 10px auto;
  color: var(--white);
  transition: var(--transition);
}
.single-services:hover.single-services i {
  transition: var(--transition);
  background: var(--white);
  color: var(--pink);
  box-shadow: 0 0.5rem 1rem rgba(var(--bs-body-color-rgb), 0.15) !important;
}
.single-services .serv-border {
  height: 2px;
  background-color: var(--pink);
  width: 150px;
  margin: auto;
  transition: var(--transition);
}
.single-services:hover.single-services .serv-border {
  width: 200px;
  transition: var(--transition);
}
.single-services h4 {
  font-size: 22px;
  font-weight: 600;
}
.single-services p {
  font-size: 18px;
  line-height: 28px;
}

/** ===========================================testimonials =========================================== */

.testimonial {
  background-color: var(--gery);
}
.single-client i {
  color: var(--pink);
}
.single-client img {
  height: 100px;
  width: 100px;
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
  margin: 0 auto;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: var(--pink);
}

/** ===========================================work =========================================== */
.single-work {
  transition: var(--transition);
  position: relative;
  overflow: hidden;
}
.single-work img {
  transform: scale(1);
  transition: var(--transition);
}
.single-work:hover.single-work img {
  transform: scale(1.2);
  transition: var(--transition);
}
.work-overly {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background-color: var(--black);
  opacity: 0.5;
}
.single-work:hover .work-overly {
  width: 100%;
  transition: var(--transition);
}
.workoverly-content {
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: var(--transition);

}
.single-work:hover .workoverly-content {
  transition: var(--transition);
  left: 50%;
  opacity: 1;
}
